<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7VA2HejWbJTBgmBj0erDiOuy-rqdL-lo</string>
	<key>GCM_SENDER_ID</key>
	<string>513466562597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payFlow</string>
	<key>PROJECT_ID</key>
	<string>payflow-75bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-75bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513466562597:ios:3605a85ad34743c118a7cc</string>
</dict>
</plist>